<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body controller="AppController as app">
	<em-sidebar id="sidebar">
		<em-header>
			<span title>Sidebar</span>
		</em-header>
		<em-item>
			<a href="#">Dashboard</a>
			<a href="#about">About</a>
		</em-item>
	</em-sidebar>

	<em-body>
		<em-header>
			<em-button on-tap="#sidebar.open()" hidden?="#sidebar.">
				<em-icon type="hamburger"></em-icon>
			</em-button>
			<span title>Body</span>
		</em-header>
		<div content em-pages>
			<em-page matches="/" controller="DashboardController as dashboard">
				<template foreach="dashboard.orders as order">
					<!-- $i will always be available -->
					<em-item em-attrs="{'title': order.name}">
						{{order.name}}
					</em-item>
				</template>
				<em-button icon="add" floating on-click="dashboard.takeOrder()"></em-button>
			</em-page>
			<em-page matches="/about">
				<em-paper z="1">

				</em-paper>
			</em-page>
		</div>
	</em-body>
</body>
</html>
