<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Binding</title>
	<style>
	body {
		opacity: 1;
		transition: opacity, .2s;
	}
	[waiting] {
		opacity: 0;
	}
	</style>
</head>
<body waiting>

	<h1>Hello {{name}} {{lastname ? 'si' : 'no'}}, <span class="wata {{'green '+name+' '+lastname}}" on-click="log(name, lastname)">{{lastname}}</span></h1>
	<h2>{{bar('Cat')}}</h2>

	{{foo.bar.baz}}


	<form on-submit="save()">
		<input type="text" on-input="log(this.value)" oninput="scope.set('name', this.value)" value="{{name}}"><br>
		<input type="text" oninput="scope.set('lastname', this.value)" value="{{lastname}}"><br>
	</form>

	<div>
		{{log([1, 2, 3])}}
	</div>

	<span>{{name}} {{lastname}}<span>{{name}} {{lastname}}<span>{{name}} {{lastname}}<span>{{name}} {{lastname}}<span>{{name}} {{lastname}}</span><span>{{name}} {{lastname}}</span></span><span>{{name}} {{lastname}}</span></span><span>{{name}} {{lastname}}</span></span><span>{{name}} {{lastname}}</span></span>

	<h2 style="font-size: {{fontSize || 20}}px">User {{user.name}} {{user.lastname}} <span>{{d(fontSize)}}</span></h2>
	<form on-submit="save()">
		<input type="text" oninput="scope.set('user.name', this.value)" value="{{user.name}}"><br>
		<input type="text" oninput="scope.set('user.lastname', this.value)" value="{{user.lastname}}"><br>
		<select onchange="scope.set('fontSize', this.value)">
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="40">40</option>
			<option value="50">50</option>
		</select>
	</form>
	<button on-click="name = 'myName'">Change name</button>


	<script src="../dist/rocky.js"></script>
	<script src="ast/parser.js"></script>
	<script src="ast/compile.js"></script>
	<script>
	window.addEventListener('DOMContentLoaded', () => {
		window.binding = new Rocky.Binding(document.body);
		// var scope = new Rocky.Scope();
		window.scope = new Rocky.Object({
			name: 'Wokkel',
			lastname: 'Blender',
			foo: new Rocky.Object({
				bar: new Rocky.Object({
					baz: 'someValue'
				})
			}),
			user: new Rocky.Object(),
			log: function () {
				// console.log(arguments);
				return arguments[0];
			},
			// foo: function (name, lastname) {
			// 	console.log(name+' '+lastname);
			// },
			bar: function (name) {
				return 'Mr. '+name;
			},
			d: function (t) {
				return t;
			}
		});

		binding.attach(scope);

		document.body.removeAttribute('waiting');

		// requestAnimationFrame(function bleh () {
		// 	scope.set('lastname', Date.now());
		// 	requestAnimationFrame(bleh);
		// });
	});
	</script>
</body>
</html>
