<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rocky.Element</title>
</head>
<body controller="FooController as foo">

	<my-element on-some-event="foo.bar()">
		<input type="text" on-focus="foo.bar()" on-blur="this.style.color = 'green'">
	</my-element>

	<script src="../dist/rocky.js"></script>
	<script type="text/javascript">
	var obj = new Rocky.Object();
	var foo = new Rocky.Object();

	obj.set('foo')

	// obj.set('foo', new Rocky.Object({
	// 	// bar: 'baz'
	// 	bar: new Rocky.Object({
	// 		baz: ''//new Rocky.Object()
	// 	})
	// }));
	//
	// // obj.observe('foo.*', function ( change ) {
	// // 	console.log("?", change);
	// // });
	//
	// // obj.set('foo.q', );
	//
	// obj.observe('*', function ( change ) {
	// 	console.log("!!->", change);
	// });
	//
	// obj.observe('foo.bar.*', function ( change ) {
	// 	console.log("->", change);
	// });
	//
	// obj.foo.observe('bar.*', function ( change ) {
	// 	console.log("-->", change);
	// });
	//
	// obj.foo.bar.observe('*', function ( change ) {
	// 	console.log("--->", change);
	// });
	//
	// obj.foo.bar.set('baz', 'qwep');
	//
	// obj.set('foo.bar.baz', 'qwep 2');
	// obj.foo.bar.set('q', new Rocky.Object({}));
	// obj.set('foo.q.bar', 'bazq');

	// obj.set('foo.bar', 'Ke');
	// Register
	// Rocky.element('my-element', {
	//
	// 	// Template is isolated
	// 	template: `
	// 		<h1>{{name}}</h1>
	// 		<p on-click="tapAction()">{{text}}</p>
	// 		<content select="*"></content>
	// 	`,
	//
	// 	tapAction ( event ) {
	// 		console.log('tapAction');
	//
	// 		this.fire('some-event')
	// 	}
	// });

	//
	// Rocky.createElement(document.querySelector('my-element'));
	</script>
</body>
</html>
