<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>{{foo.bar}}</h1>
	{{a}} + {{b}} = {{a + b || 'Errorrrr'}}

	<div id="tpl">
		Hello {{wockel / 3 || 'wockel kaduk ' + wockel}}, {{saus}}! <strong>{{12 * 12}}</strong> --<br>
	</div>

	<input type="text" oninput="scope.set('wockel', this.value)" placeholder="Wockel">
	<input type="text" oninput="scope.set('saus', this.value)" placeholder="Saus">

	<br>

	<div id="tpl2">
		{{a}} + {{b}} = {{a + b || 'Errorrrr'}}
		{{log(a, b)}}
	</div>

	{{a}} + {{b}} = {{a + b}} <br>
	{{a}} * {{b}} = {{a * b}} <br>
	{{a}} / {{b}} = {{a / b}} <br>

	<input type="text" oninput="scope.set('a', parseInt(this.value))" value="1">
	<input type="text" oninput="scope.set('b', parseInt(this.value))" value="2">

	<!-- Add event handlers and attributes -->
	<button on-click="_notify('Yesss ' + a)" wokkel="{{a + 2}}"></button>

	<script src="../dist/rocky.js"></script>
	<script src="ast/parser.js"></script>
	<script src="ast/compile.js"></script>
	<script>
	"use strict";

	function noop () {};

	function parseTemplate ( txt ) {

		var fns = [];
		var index = 0;
		var i = 0;
		var length = txt.length;
		var foundAt = -1;
		var index = 0;

		for( i = 0; i < length; i++ ) {

			var chr = txt[i];
			var peek = txt[i + 1];

			if( chr === '{' && peek === '{' ) {
				foundAt = i + 2;
				fns.push(txt.substring(index, i));
				i += 1;
			}

			if( chr === '}' && peek === '}' ) {

				var expression = txt.substring(foundAt , i);
				var tree = Tokenize(expression);
				var compiled = Compile(tree);

				fns.push(compiled.body);

				index = i + 2;
				foundAt = -1;
			}
		}

		fns.push(txt.substr(index));

		return fns;
	}

	function createTpl ( node ) {

		var txt = node.textContent.trim();

		if(!txt) {
			return noop;
		}

		var fns = parseTemplate(txt);

		return function ( context ) {

			return node.textContent = fns.map(function ( p ) {

				if( typeof p === 'function' ) {
					return p(context)
				}

				return p;
			}).join('');
		}
	}

	// ----
	function parseTextNodes (node) {

		var child = node.firstChild;

		if (!child) {
			return;
		}

		do {
			if (child.nodeType === Node.TEXT_NODE) {
				parseTextNode(child);
			}

			if (child.nodeType === Node.ELEMENT_NODE) {
				parseAttributes(child);
				parseTextNodes(child);
			}
		} while ( child = child.nextSibling );
	}

	function parseTextNode (node) {

		var render = createTpl(node);
		// TODO(Saar) Observe paths
		scope.observe('*', function () {
			render(scope);
		});

		render(scope);
	}

	function parseAttributes ( node ) {

		var attributes = node.attributes;

		for( var i = 0, l = attributes.length; i < l && attributes.hasOwnProperty(i); i++ ) {

			parseAttribute(node, attributes[i]);
		}
	}

	function parseAttribute ( node, attribute ) {

		var name = attribute.name,
			value = attribute.value;

		if( name.indexOf('on-') === 0 ) {
			// Event type
			var type = name.substr(3);

			var tree = Tokenize(value);
			var compiled = Compile(tree);

			// ast, 1' + 2
			node.addEventListener(type, compiled.body.bind(null, scope));
		} else

		if( value.indexOf('{{') >= 0 ) {

			var render = compileAttribute(node, name, value);
			// TODO(Saar) Observe paths
			scope.observe('*', function () {
				render(scope);
			});

			render(scope);
		}
	}

	function compileAttribute ( node, name, value ) {

		if(!value) {
			return noop;
		}

		var fns = parseTemplate(value);

		return function ( context ) {

			var value = fns.map(function ( p ) {

				if( typeof p === 'function' ) {
					return p(context)
				}

				return p;
			}).join('');

			node.setAttribute(name, value);
		}
	}

	// Magic starts here!
	var scope = new Rocky.Object({
		wockel: 'Default',
		saus: 'Wodkellssd',
		a: 1,
		b: 2,
		log: console.log.bind(console),
		_notify: function (msg) {
			alert(msg);
		},
		foo: new Rocky.Object({
			bar: 'Deep'
		})
	});

	document.addEventListener('DOMContentLoaded', function () {
		console.time('parse');
		parseTextNodes(document.body);
		console.timeEnd('parse');
	});

	</script>
</body>
</html>
