<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../dist/rocky.js">

	</script>
</head>
<body>
	<em-app controller="UserController as user">
		<h1>{{user.name ? 'Hi ${user.name}' : User form}}</h1>
		<em-form name="user.form" on-submit="user.submit(user.form)">
			<em-input label="Name" bind="user.name" required></em-input>
			<em-input label="Lastname" bind="user.lastname" required></em-input>

			<em-input label="Birthday" bind="user.birthday"
				em-calendar="{bind: user.birthday}">
				<em-button>
					<em-icon name="calendar"></em-icon>
				</em-button>
			</em-input>

			<!-- em-attr is an helper/thrait/behavior "Em.Attribute" -->
			<em-button disabled="!user.form.isValid">Save</em-button>
		</em-form>
	</em-app>

	<em-toast id="toast"></em-toast>
</body>
</html>
